In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/population.csv', index_col=0)

In [5]:
df.head()

,1800,1810,1820,1830,1840,1850,1860,1870,1880,1890,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total population,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,3280000.0,3280000.0,3323519.0,3448982.0,3625022.0,3810047.0,3973968.0,4169690.0,4419695.0,4710171.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15700.0,15700.0,15700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,410445.0,423591.0,438671.0,457234.0,478227.0,506889.0,552800.0,610036.0,672544.0,741688.0,...,3050741.0,3010849.0,2968026.0,2929886.0,2901883.0,2886010.0,2880667.0,2883281.0,2889676.0,2896679.0
Algeria,2503218.0,2595056.0,2713079.0,2880355.0,3082721.0,3299305.0,3536468.0,3811028.0,4143163.0,4525691.0,...,33749328.0,34261971.0,34811059.0,35401790.0,36036159.0,36717132.0,37439427.0,38186135.0,38934334.0,39666519.0

In [6]:
df.shape

(275, 81)

In [16]:
d1=pd.DataFrame(data=df)

In [18]:
d1.dropna(inplace=True)

In [20]:
d1.shape

(229, 81)

In [21]:

import pandas as pd # Bug1

In [22]:
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme', #Bug2
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]

In [43]:
participants = [2, 6, 9, 9, 9, 8]

In [44]:
df = pd.DataFrame(data=spices)

In [45]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [28]:
df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })

print(sort_values(by='participants', ascending=False))

print("\ntotal participants:", df.sum(['participants']))

ValueError: All arrays must be of the same length