# Recap: pandas Basics

Insert one-liners to solve all 10 tasks

In [1]:
import pandas as pd

### read the CSV file `gapminder_total_fertility.csv`

In [6]:
df = pd.read_csv('data/gapminder_total_fertility.csv', index_col=0)

### write the file to an Excel spreadsheet

In [9]:
df.to_excel('data/gapminder_tf.xlsx')

### read the spreadsheet again

In [11]:
df = pd.read_excel('data/gapminder_tf.xlsx', index_col=0)

### select all data for the year 2010

In [12]:
df['2010']

Total fertility rate
Abkhazia                  NaN
Afghanistan              5.66
Akrotiri and Dhekelia     NaN
Albania                  1.74
Algeria                  2.82
                         ...
Yugoslavia                NaN
Zambia                   5.81
Zimbabwe                 3.72
Åland                     NaN
Åland                     NaN
Name: 2010, Length: 260, dtype: float64

### select the 10 most fertile countries in 2010

In [22]:
df.head()
df[['2010']].sort_values('2010', ascending=False).head(10)

                      2010
Total fertility rate
Niger                 7.58
Somalia               6.87
Mali                  6.84
Chad                  6.60
Burundi               6.30
Congo, Dem. Rep.      6.25
Timor-Leste           6.24
Angola                6.22
Uganda                6.16
Nigeria               6.02

In [20]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

### select countries below 2.0 in 2010

In [26]:
df[df['2010']<2.0][['2010']].sort_values(by='2010', ascending=False)

                        2010
Total fertility rate
Sweden                  1.99
St. Lucia               1.98
France                  1.98
Azerbaijan              1.97
Norway                  1.95
...                      ...
Singapore               1.26
Bosnia and Herzegovina  1.24
Hong Kong, China        1.08
Macao, China            1.00
Taiwan                  0.90

[70 rows x 1 columns]

### calculate the mean and standard deviation for each year

In [29]:
df.mean()

1800    6.084080
1801    6.081244
1802    6.084328
1803    6.083383
1804    6.083682
          ...
2011    2.853433
2012    2.823284
2013    2.794179
2014    2.775176
2015    2.744523
Length: 216, dtype: float64

### extract the first character as a separate column

In [34]:
df['firstchar']=df.index.str[:1]
df['firstchar']

Total fertility rate
Abkhazia                 A
Afghanistan              A
Akrotiri and Dhekelia    A
Albania                  A
Algeria                  A
                        ..
Yugoslavia               Y
Zambia                   Z
Zimbabwe                 Z
Åland                    Å
Åland                    Å
Name: firstchar, Length: 260, dtype: object

### count the number of countries for each first character

In [51]:
df.groupby('firstchar')['firstchar'].count()

firstchar
A    16
B    19
C    24
D     4
E     9
F     7
G    16
H     5
I     9
J     4
K     6
L     9
M    23
N    18
O     1
P    11
Q     1
R     4
S    36
T    15
U     9
V     4
W     4
Y     2
Z     2
Å     2
Name: firstchar, dtype: int64